.choresText {
   color: rgb(203, 29, 64);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: x-large;
   text-underline-position: below;
   font-style: italic;
}

.choresHeading {
   color: black;
}